@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  direction: rtl;
}
.banner {
  background-image: url("../assets/homeImage.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.MuiStepLabel-label {
  color: #c4c4c4;
  margin-right: 5px;
  font-size: 17px;
}

.css-117w1su-MuiStepIcon-text {
  font-size: 17px;
  fill: white !important;
}

.Mui-completed,
.Mui-active {
  color: #00adee !important;
}
